/* div {
    display: block;
} */

.container {
    display: flex;
    height: 500px;
    flex-direction: column-reverse;
}

.container-2 {
    display: flex;
    width: 400px;
    height: 400px;
    flex-direction: row;
    background-color: aqua;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
}

.container-3 {
    display: flex;
    width: 400px;
    height: 400px;
    flex-direction: row;
    background-color: aqua;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    align-content: center;
}


.box{
    margin: 5px;
    background-color: black;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.css-display {
    display: inline;
}

.d-inline-block {
    display: inline-block;
    padding: 20px;
    margin: 20px;
    background-color: black;
    color: white;
    width: 100px;
    height: 100px;
}