.div-hover:hover {
    background-color: red;
}

.div-active:active {
    background-color: blue;
    color: white;
}

.input-focus:focus {
    background-color: orange;
}

a:visited {
    color: red;
}

.fruits span:first-child {
    color: red;
}

.fruits h3:last-child {
    color: green;
}

.fruits span:nth-child(2) {
    color: blue;
}

.fruits-2 :nth-child(3n-1) {
    color: yellow;

}

.fruits-2 span:not(.WM) {
    background-color: aqua;
}

.fruits *:not(span) {
    background-color: aqua;
}

/* ::before */
div.before-el::before {
    content: "hot!";
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 20%;
}

/* ::after */
div.after-el::after {
    content: "뒤";
}


input[type=text] {
    background-color: red;
}

input[type=password] {
    background-color: blue;
}

input[name=name] {
    background-color: green;
}

.WM-3 {
    color: red;
}

.fruits-3 > .WM-3 {
    color: blue
}