.picture {
    width: 600px;
    height: 300px;
}

.picture1 {
    position: absolute;
    top: 400px;
    left: 100px;
    z-index: 3;
    transform: skewY(20deg)
}

.picture2 {
    position: absolute;
    top: 300px;
    left: 400px;
    z-index: 2;
    transform: skewY(20deg)
}

.picture3 {
    position: absolute;
    top: 200px;
    left: 700px;
    z-index: 1;
    transform: skewY(20deg)
}
