.circle {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100%;
    animation: movetoright 3s linear 1s 6;
}

@keyframes movetoright {
    /* from {
        left: 0px;
    }

    to {
        left: 100px;
    } */

    0% {
        left: 0px;
        top: 0px;
        animation-timing-function: linear;
    }

    20% {
        left: 500px;
        top: 0px;
        animation-timing-function: linear;
    }

    40% {
        left: 500px;
        top: 500px;
        animation-timing-function: linear;
    }

    60% {
        left: 0px;
        top: 500px;
        animation-timing-function: linear;
    }

    80% {
        left: 0px;
        top: 0px;
        animation-timing-function: linear;
    }

}
