/* 
div .three {
    color: yellow;
    background-color: black;
}
*/

/* ul > .three {
    color: yellow;
    background-color: black;
} */

/* ul + span {
    color: yellow;
    background-color: black;
} */

ul ~ span {
    color: yellow;
    background-color: black;
}