<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            width: 500px;
            height: 500px;
            background-color: yellow;
            color: black;
        }
    </style>
</head>
<body>
    <div class="box">/ejs나 /lily로 요청 받은 views/index.ejs</div>
</body>
</html>