<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>폼 요소 - input</h1>
    <form action="/test" method="get"> -->
        <!-- <input />
        <br />
        <input type="text" name="inputTest" readonly autofocus placeholder="placeholder" />
        <br />
        <input type="text" placeholder="text" />
        <br />
        <input type="radio" name="age" value="10"/> 10대
        <input type="radio" name="age" value="20"/> 20대
        <input type="radio" name="age" value="30"/> 30대
        <input type="radio" name="age" value="40"/> 40대
        <br />
        <input type="checkbox" name="exercise" value="running"/> 러닝
        <input type="checkbox" name="exercise" value="workout"/> 헬스
        <input type="checkbox" name="exercise" value="boxing"/> 복싱
        <input type="checkbox" name="exercise" value="jiujitsu"/> 주짓수
        <br />
        <input type="button" value="button" />
        <br />
        <input type="color" />
        <br />
        <input type="date" />
        <br />
        <input type="datetime" placeholder="datetime" />
        <br />
        <input type="datetime-local" />
        <br /> -->
        <!-- <input type="email" placeholder="email" />
        <br /> -->
        <!-- <input type="file" />
        <br />
        <input type="hidden" />
        <br />
        <input type="image" />
        <br />
        <input type="month" />
        <br />
        <input type="number" placeholder="number" />
        <br />
        <input type="password" placeholder="password" />
        <br />
        <input type="range" />
        <br />
        <input type="reset" />
        <br />
        <input type="search" placeholder="search"/>
        <br /> -->
        <!-- <br />
        <input type="tel" placeholder="tel"/>
        <br />
        <input type="time" />
        <br /> -->
        <!-- <input type="url" placeholder="url"/>
        <br /> -->
        <!-- <input type="week" /> -->
        <!-- <input type="submit" /> -->
    <!-- </form> -->


    <!-- <h1>폼 요소 - select</h1>
    <form action="/test" method="get">
        <select>
            <option>이루리</option>
            <option>너에게 닿기를</option>
            <option>비밀이야</option>
            <option>부탁해</option>
        </select>
    </form> -->


    <!-- <h1>폼 요소 - label</h1>
    <form action="/test" method="get">
        <label>ID: <input type="text"/></label>
        <br />
        <label>PASSWORD: <input type="password"></label>
        <br />
        <input type="radio" name="age" id="10" value="10"/> <label for="10">10대</label>
        <input type="radio" name="age" id="20" value="20"/> <label for="20">20대</label>
        <input type="radio" name="age" id="30" value="30"/> <label for="30">30대</label>
        <input type="radio" name="age" id="40" value="40"/> <label for="40">40대</label>
    </form> -->

    <!-- <h1>폼 요소 - fieldset legend</h1>
    <form action="/test" method="get">
        <fieldset>
            <legend>legend</legend>
            <input type="text" name="id" />
            <input type="password" name="pw" />
        </fieldset>
    </form> -->


    <!-- <h1>GET 요청</h1>
    <form action="/get" method="get">
        <input type="text" name="id" placeholder="ID"/>
        <input type="password" name="pw" placeholder="Password">
        <button type="submit">제출</button>
    </form>

    <h1>POST 요청</h1>
    <form action="/post" method="post">
        <input type="text" name="id" placeholder="ID"/>
        <input type="password" name="pw" placeholder="Password">
        <button type="submit">제출</button>
    </form> -->


    <!-- <h1>유효성 검사</h1>
    <form action="/post/membership" method="post"> -->
        <!-- <input type="text" name="required" required /> -->
        <!-- <input type="text" name="minlength" minlength="4" placeholder="minlength" />
        <input type="text" name="maxlength" maxlength="12" placeholder="maxlength" /> -->
        <!-- <input type="number" min="5" max="10" />
        <button type="submit">제출</button>
    </form> -->


    <h1>회원가입 post 요청</h1>
    <form action="/post/membership" method="post">
        <!-- <input type="text" name="id" pattern="^([a-zA-Z0-9가-힣]){4,12}$" title="소문자, 대문자, 한글, 숫자로 조합된 4~12자리로 입력" placeholder="ID" required />
        <br /> -->
        <input type="password" name="pw" oninput="validCheckPw(this)" placeholder="PASSWORD" />
        <br />
        <div id="valid-pw"></div>
        <button type="submit">제출</button>
    </form>

    <script>
        // console.dir(document.forms["login"])

        function validCheckPw(el) {
            const regexPw = /^([a-z0-9]){8,12}$/
            const value = el.value
            const valid = document.getElementById("valid-pw")

            if (regexPw.test(value)) {
                // console.log("정규식 일치")
                // console.dir("정규식 일치")
                // alert("정규식 일치")
                valid.innerHTML = "양식이 일치합니다."
            } else {
                valid.innerHTML = "소문자, 숫자로 조합된 8~12자리로 입력"
                console.log("정규식 불일치")
            }
        }
    </script>
</body>
</html>