<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <form name="registerMembership">
        이름 <input type="text" name="name" value="김서본" />
        
        <fieldset>
            <legend>성별</legend>
            <input type="radio" name="gender" value="여자" id="women"/> <label for="women">여자</label>
            <input type="radio" name="gender" value="남자" id="men"/> <label for="men">남자</label>
        </fieldset>

        <fieldset>
            <legend>생년월일</legend>
            <select class="box" id="birthYear"></select>년
            <select class="box" id="birthMonth"></select>월
            <select class="box" id="birthDay"></select>일
        </fieldset>

        <fieldset>
            <legend>관심사</legend>
            <input type="checkbox" name="hobby" value="여행"/> 여행
            <input type="checkbox" name="hobby" value="패션"/> 패션
            <input type="checkbox" name="hobby" value="음식"/> 음식
        </fieldset>

    
        <div>
            <button type="button" onclick="axiosGetMembership()">회원가입</button>
        </div>
        
    </form>
    <h3 id="resultMembership"></h3>

    <form name="registerLogin">
        <input type="text" name="id" value="eunseo527" />
        <input type="password" name="pw" value="980527" />
        <div>
            <button type="button" onclick="axiosPostLogin()">로그인</button>
        </div>
    </form>
    <h3 id="resultLogin"></h3>
    
    <script>
        function getDataMembership() {
            const form = document.forms["registerMembership"];

            if (!form.checkValidity()) {
                form.reportValidity();
                return;
            }

            const hobby = []

            for (let hob of form.hobby) {
                if (hob.checked) hobby.push(hob.value);
            }

            const data = {
                name : form.name.value,
                gender : form.gender.value,
                birthYear : form.birthYear.value,
                birthMonth : form.birthMonth.value,
                birthDay : form.birthDay.value,
                hobby : hobby,
            }

            return data
        }

        function axiosGetMembership() {
            const data = getDataMembership()
            
            axios({
                method: "GET",
                url: "/membership",
                params: data
            }).then((res)=> {
                const {
                    name
                } = res.data
                $("#resultMembership").html(`${name}님 회원가입이 완료되었습니다.`)
                console.log(res)
                console.log(res.data)
                console.log(data.hobby)

            })
        }
        
        const birthYearEl = document.querySelector('#birthYear')
        isYearOptionExisted = false;
        birthYearEl.addEventListener('focus', function () {
            if(!isYearOptionExisted) {
                isYearOptionExisted = true
                for(var i = 1940; i <= 2022; i++) {
                    const YearOption = document.createElement('option')
                    YearOption.setAttribute('value', i)
                    YearOption.innerText = i
                    this.appendChild(YearOption);
                }
            }
        });

        const birthMonthEl = document.querySelector('#birthMonth')
        isMonthOptionExisted = false;
        birthMonthEl.addEventListener('focus', function () {
            if(!isMonthOptionExisted) {
                isMonthOptionExisted = true
                for(var i = 1; i <= 12; i++) {
                    const MonthOption = document.createElement('option')
                    MonthOption.setAttribute('value', i)
                    MonthOption.innerText = i
                    this.appendChild(MonthOption);
                }
            }
        });

        const birthDayEl = document.querySelector('#birthDay')
        isDayOptionExisted = false;
        birthDayEl.addEventListener('focus', function () {
            if(!isDayOptionExisted) {
                isDayOptionExisted = true
                for(var i = 1; i <= 31; i++) {
                    const DayOption = document.createElement('option')
                    DayOption.setAttribute('value', i)
                    DayOption.innerText = i
                    this.appendChild(DayOption);
                }
            }
        });

        function getDataLogin() {
            const form = document.forms["registerLogin"];

            if (!form.checkValidity()) {
                form.reportValidity();
                return;
            }

            const data = {
                id : form.id.value,
                pw : form.pw.value,
            }

            return data
        }
        
        function axiosPostLogin() {
            const data = getDataLogin()

            axios({
                method: "POST",
                url: "/login",
                data: data
            }).then((res)=> {
                if (res.data.isSuccess) {
                    console.log(res.data.isSuccess)
                    $("#resultLogin").html(`로그인 완료. ${res.data.userName}님 반갑습니다.`);
                    $("#resultLogin").css("color", "blue");
                } else {
                    $("#resultLogin").html(`아이디 또는 비밀번호를 잘못 입력했습니다.`);
                    $("#resultLogin").css("color", "red");
                }
            })
        }
    </script>
</body>
</html>