.box {
    width: 100px;
    height: 100px;
    background-color: white;
}

.container-1 {
    width: 500px;
    height: 500px;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.container-2 {
    width: 500px;
    height: 500px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.item-1 {
    background-color: red;
}

.item-2 {
    background-color: orange;
}

.item-3 {
    background-color: yellow;
}

.item-4 {
    background-color: green;
}

.item-5 {
    background-color: blue;
}

.item-6 {
    background-color: darkblue;
}

.item-7 {
    background-color: purple;
}

.item-8 {
    background-color: violet;
}
