.text-box {
    position: relative;
    animation: movetext 2s ease-out 1s infinite;
    font-size: 25px;
}

@keyframes movetext {
    from {
        left: 100%;
        width: 400%;
    }

    to {
        left: 0%;
        width: 100%;
    }
}
