<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="box">/ejs로 요청 받은 test/index 파일입니다.</div>
    <img src="/static/img/은서_01.webp" class="healing">
</body>
</html>