<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 00(email)님 환영합니다. -->
    <%=name%>(<%=email%>)님 환영합니다.
    <%=id%>야 사랑해
    <script></script>
</body>
</html>