/*
* {
    color: red;
    background-color: black;
}
*/
h2 {
    color: yellow;
    background-color: gray;
}

.Class {
    color: green;
    background-color: gold;
}

#ID {
    color: blue;
    background-color: skyblue;
}